<%= content_for :page_title, "Admin Liste de mariage" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Ajouter un cadeau', new_admin_present_path, class: 'btn btn-default' %>
    </div>
  </div>

  <div class="row gifts">
    <% @presents.each do |p| %>
      <div class="col-md-3 entry">
        <%= link_to [:edit, :admin, p] do %>
          <%= image_tag p.photo %>
          <p class="title"><%= p.title %></p>
          <p class="price"><%= p.price %>&euro;</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
