<%= content_for :page_title, "Se loger" %>

<h1>Se loger</h1>
<div class="row">
  <div class="col-md-1">
    <a href="https://drive.google.com/open?id=1hQAeBB09s5c5KX9On_ueZdfoDp8&usp=sharing">
      <%= image_tag 'logements/google.png' %>
    </a>
  </div>
  <div class="col-md-1">
    <a href="https://www.airbnb.com/s/Alan--France?checkin=08%2F05%2F2017&checkout=08%2F06%2F2017">
      <%= image_tag 'logements/airbnb.jpg' %>
    </a>
  </div>
</div>

<h2>Chambres d'hôtes</h2>
<div class="row category">
  <div class="col-md-4 entry">
    <a href="http://rampeau.free.fr/">
      <%= image_tag 'logements/rampeau.png' %>
      <p>Le Rampeau</p>
    </a>
  </div>

  <!-- 11/03 OK -->
  <div class="col-md-4 entry">
    <a href="http://www.les-pesques.com/">
      <%= image_tag 'logements/pesques.jpg' %>
      <p>Les pesques</p>
    </a>
  </div>

  <!-- 11/03 OK -->
  <div class="col-md-4 entry">
    <a href="http://www.lescalere.jimdo.com/">
      <%= image_tag 'logements/lescalere.jpg' %>
      <p>L'escalère</p>
    </a>
  </div>
</div>

<h2>Hôtels</h2>
<div class="row category">
  <div class="col-md-4 entry">
    <a href="http://www.hotelrestaurantdulac.com/">
      <%= image_tag 'logements/hotel-du-lac.jpg' %>
      <p>Hotel du lac</p>
    </a>
  </div>

  <div class="col-md-4 entry">
    <a href="http://www.cerfblanc.com/">
      <%= image_tag 'logements/cerf-blanc.jpg' %>
      <p>Le cerf blanc</p>
    </a>
  </div>

  <div class="col-md-4 entry">
    <a href="http://fr.federal-hotel.com/hotel_hotel-le-cochon-de-lait-cazeres_11422.htm">
      <%= image_tag 'logements/cochon-lait.jpg' %>
      <p>Le cochon de lait</p>
    </a>
  </div>

  <div class="col-md-4 entry">
    <a href="http://www.hotelcastet.fr/">
      <%= image_tag 'logements/castet.jpg' %>
      <p>Castet</p>
    </a>
  </div>
</div>

<h2>Gites</h2>
<div class="row category">
  <div class="col-md-4 entry">
    <a href="http://www.gite-moulindebachas.com/">
      <%= image_tag 'logements/bachas.jpg' %>
      <p>Moulin de Bachas</p>
    </a>
  </div>

  <div class="col-md-4 entry">
    <a href="http://notredamedelorette.com/pratiq/R-beillat.pdf">
      <%= image_tag 'logements/rebeillat.png' %>
      <p>Rébeillat</p>
    </a>
  </div>
</div>

<div class="jumbotron">
  <p>
  Si vous le souhaitez, vous pouvez apporter votre tente. Vous pourrez la planter &agrave; proximit&eacute; du lieu de repas. <br />
  Merci de nous pr&eacute;venir si vous souhaitez camper.
  </p>
</div>
