<%= content_for :page_title, "Se loger" %>
<div class="container">
  <h1>Se loger</h1>
  <a href="https://www.google.com/maps/d/viewer?mid=1hQAeBB09s5c5KX9On_ueZdfoDp8&ll=43.22382536586592%2C0.9211119500000677&z=16">Voir dans Google Maps</a>

  <h2>Chambres d'hotes</h2>
  <div class="row category">
    <div class="col-md-4 entry">
      <a href="http://rampeau.free.fr/">
        <%= image_tag 'logements/rampeau.png' %>
        <p>Le Rampeau</p>
      </a>
    </div>

    <div class="col-md-4 entry">
      <a href="http://www.les-pesques.com/">
        <%= image_tag 'logements/pesques.jpg' %>
        <p>Les pesques</p>
      </a>
    </div>

    <div class="col-md-4 entry">
      <a href="http://www.benque-hotes.com/">
        <%= image_tag 'logements/benque-hotes.jpg' %>
        <p>Benqu'Hotes</p>
      </a>
    </div>

    <div class="col-md-4 entry">
      <a href="http://www.lescalere.jimdo.com/">
        <%= image_tag 'logements/lescalere.jpg' %>
        <p>L'escalère</p>
      </a>
    </div>
  </div>

  <h2>Hotels</h2>
  <div class="row category">
    <div class="col-md-4 entry">
      <a href="http://www.hotelrestaurantdulac.com/">
        <%= image_tag 'logements/hotel-du-lac.jpg' %>
        <p>Hotel du lac</p>
      </a>
    </div>

    <div class="col-md-4 entry">
      <a href="http://www.cerfblanc.com/">
        <%= image_tag 'logements/cerf-blanc.jpg' %>
        <p>Le cerf blanc</p>
      </a>
    </div>

    <div class="col-md-4 entry">
      <a href="http://fr.federal-hotel.com/hotel_hotel-le-cochon-de-lait-cazeres_11422.htm">
        <%= image_tag 'logements/cochon-lait.jpg' %>
        <p>Le cochon de lait</p>
      </a>
    </div>

    <div class="col-md-4 entry">
      <a href="http://www.hotelcastet.fr/">
        <%= image_tag 'logements/castet.jpg' %>
        <p>Castet</p>
      </a>
    </div>
  </div>

  <h2>Gites</h2>
  <div class="row category">
    <div class="col-md-4 entry">
      <a href="http://www.gite-moulindebachas.com/">
        <%= image_tag 'logements/bachas.jpg' %>
        <p>Moulin de Bachas</p>
      </a>
    </div>

    <div class="col-md-4 entry">
      <a href="http://notredamedelorette.com/pratiq/R-beillat.pdf">
        <%= image_tag 'logements/rebeillat.png' %>
        <p>Rébeillat</p>
      </a>
    </div>
  </div>

  <div class="jumbotron">
      <p>
        Si vous le souhaitez, vous pouvez apporter votre tente. Vous pourrez la planter &agrave; proximit&eacute; du lieu de repas. <br />
        Merci de nour pr&eacute;venir si vous souhaitez camper.
      </p>
  </div>
</div>
