<%= content_for :page_title, "Liste de mariage" %>

<div class="row gifts public">
  <% @presents.each do |p| %>
    <div class="col-md-3 entry <%= p.finished? ? "finished" : "" %>"
         data-id="<%= p.id %>"
         data-title="<%= p.title %>"
         data-description="<%= p.description %>"
         data-price="<%= p.price %>"
         data-remaining="<%= p.remaining %>"
         data-photo="<%= p.photo.large %>">
         <%= link_to '' do %>
           <%= image_tag p.photo.thumb %>
           <p class="title"><%= p.title %></p>

           <% if p.finished? %>
             <div class="finished">Ce cadeau a d&eacute;j&agrave; &eacute;t&eacute; offert.</div>
           <% else %>
             <div class="price"><%= p.price %>&euro;</div>
             <% if p.price != p.remaining %>
               <div class="remaining">Il nous manque <%= p.remaining %>&euro;</div>
             <% end %>
           <% end %>
         <% end %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="giftsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p class="description"></p>
          </div>
          <div class="col-md-12 text-center">
            <img class="photo" width="400" />
          </div>
        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="col-md-6">
            <p>Nous vous remercions de votre g&eacute;n&eacute;rosit&eacute;!</p>
            <p>En remplissant ce formulaire, nous pourrons vous recontacter apr&egrave;s le mariage pour proposer des photos de ce cadeau.</p>
            <p>Nous vous invitons &agrave; nous laisser un ch&egrave;que dans l'urne qui sera &agrave; votre disposition le jour de notre mariage.</p>
          </div>
          <div class="col-md-6">
            <%= form_for Payment.new do |f| %>
              <div class="form-group">
                <label for="payment_name">Nom/Pr&eacute;nom</label>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="form-group">
                <label for="payment_amount">Montant</label>
                <%= f.text_field :amount, class: "form-control", type: "number" %>
              </div>
              <button type="submit" class="btn btn-default">J'offre ce cadeau</button>
              <input type="hidden" name="payment[present_id]" class="payment_id">
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
